/* Cheezo's Sandwiches About Page Stylesheet */
h1, img, p {
	margin-left: 5%;
}
section#main img {
	float: left;
	width: 40%;
	border-radius: 30px;
	border: 2px solid darkgoldenrod;
	box-shadow: black 5px 5px 10px;
	margin-bottom: 50px;
	margin-right: 15px;
}
